/*
  _______  ________  ___   ___  ___   ___     
 /  ___  \|\_____  \|\  \ |\  \|\  \ |\  \    
/__/|_/  /\|____|\ /\ \  \\_\  \ \  \\_\  \      Saunders Droid Factory
|__|//  / /     \|\  \ \______  \ \______  \     Version 1.0
    /  /_/__   __\_\  \|_____|\  \|_____|\  \    Author: Jeffrey A. Mathew
   |\________\|\_______\     \ \__\     \ \__\
    \|_______|\|_______|      \|__|      \|__|

*/
/* Imported Fonts: Ubuntu */
@import url('https://fonts.googleapis.com/css?family=Ubuntu|Martel');

/* Header */
.header {
    height: 200px;
    background: #002344;
    border-bottom:solid white 5px;
}

/* We are going to make the container a bit smaller than normal bootstrap! */
.container.head {
    max-width: 1000px;
}

/* Logo */
@media (min-width: 768px) {
    .logo {
        background: url(../images/logo.png);
        height: 200px;
        width: 400px;
        background-size: contain;
        margin: 0 auto;
    }
}
@media (max-width: 768px) {
    .logo {
        background: url(../images/logo.png);
        height: 100px;
        width: 200px;
        background-size: contain;
        margin: 0 auto;
        margin-top: 50px;
    }
}

/* Banner */
@media (min-width: 768px) {
    .banner {
        background: #0d2e9b;
        height: 250px;
        width: 140px;
        padding: 10px;
        color: white;
        text-align: center;
        position: absolute;
        z-index: 1000;
    }
    .banner:after {
        content: '';
        position: absolute;
        display: block;
        border: 70px solid #0d2e9b;
        border-top-width: 5px;
        border-bottom: 20px transparent solid;
        top: 100%;
        left: 0;
        filter: drop-shadow(0px 10px 5px rgba(0, 0, 0, 0.3))
    }
    .first_icon {
        background: url(../images/first_icon.svg);
        height: 50px;
        width: 80px;
        background-size: contain;
        margin: 0 auto;
        background-repeat: no-repeat
    }
    .fb_info {
        font-weight: bold;
        margin-top: 5px;
        margin-bottom: 20px;
    }
    .fb_event {
        font-weight: 700;
        margin-top: 20px;
    }
}
@media (max-width: 768px) {
    .banner {
        visibility: hidden;
        height: 0px;
        width: 0px;
    }
}
  
/* Navigation Bar */
.navbar-white {
    background:#2c2c2c;
    border-radius:0px;
    border-bottom:solid #212121 10px;
    box-shadow:0px 5px 9px rgba(0, 0, 0, 0.54);
    z-index:800;
    border: solid black 0px;
    border-bottom: solid #1d1d1d 10px;
    
}
@media (min-width: 768px) and (max-width: 990px) {
  .nav-header {
    max-width:500px;
}  
}
@media (min-width: 990px) {
  .nav-header {
    max-width:700px;
}  
}

/*Body Stuff */

body{
    background:#fcfcfc;
}

#myCarousel .carousel-caption {
    left:0;
	right:0;
	bottom:0;
	text-align:left;
	padding:10px;
	background:rgba(0,0,0,0.6);
	text-shadow:none;
}

#myCarousel .list-group {
	position:absolute;
	top:0;
	right:0;
}
#myCarousel .list-group-item {
	border-radius:0px;
	cursor:pointer;
}
#myCarousel .list-group .active {
	background-color:#002344;	
}

@media (min-width: 992px) { 
	#myCarousel {padding-right:33.3333%;}
	#myCarousel .carousel-controls {display:none;} 	
}
@media (max-width: 991px) { 
	.carousel-caption p,
	#myCarousel .list-group {display:none;} 
}

.robot-featured {
    background:linear-gradient( rgba(0, 0, 0, 0.69), rgba(0, 0, 0, 0.77) ), url(../images/banner-featured.png);
    height:250px;
    margin-top:-20px;
}

.robot-info {
    text-align:center;
    margin-top:100px;
    color:white;
    font-family:'Martel', serif;
    font-size:24px;
}

.ri-name {
    font-weight:bold;
}

.ri-place {
    font-style: italic;
    margin-top:5px;
}

.featured-stat-red {
    box-shadow: 0px 5px 0px #841616;
    border: 1px solid #841616;
    background:#9d1818;
}

.featured-stat-white {
    box-shadow: 0px 5px 0px #d0d0d0;
    border: 1px solid #d0d0d0;
    background:#f0f0f0;
}

.featured-stat-blue {
    box-shadow: 0px 5px 0px #01578d;
    border: 1px solid #01578d;
    background:#0075be;
}



.dropdown-menu>li>a .subtitle {
    font-size:12px;
    margin-left:-10px;
    color:blue;
}
.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}
.page {
    margin-top:10px;
}

.featurette {
    margin-top:10px;
}



.pic-1 {
   background:linear-gradient(rgba(0, 0, 0, 0.72),rgba(0, 0, 0, 0.68)), url(../images/Screenshot_20170419-133830.png); 
    background-position:center;
}

.pic-2 {
   background:linear-gradient(rgba(0, 0, 0, 0.72),rgba(0, 0, 0, 0.68)), url(../images/IMG_4229.jpg); 
    background-position:contain;
}

.pic-3 {
   background:linear-gradient(rgba(0, 0, 0, 0.72),rgba(0, 0, 0, 0.68)), url(/assets/images/Screenshot_20170419-133830.png); 
    background-position:center;
}

.pic-4 {
   background:linear-gradient(rgba(0, 0, 0, 0.72),rgba(0, 0, 0, 0.68)), url(/assets/images/Screenshot_20170419-133830.png); 
    background-position:center;
}
.featured-container {
    height:250px;
    font-size:24px;
    color:aliceblue;
}

.featured-info {
   text-align: center;
    padding:50px;
}

.featured-icon {
  
    font-size:70px;
}

.featured-desc {
    font-family:'Martel', serif;
    font-weight:bold;
}
